
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --color-primario:#000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
    
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 5rem;
}
.header_menu_link{
    font-family:var(--fuente-montserrat);
    font-size:1.5rem;
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content:space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.presentacion_contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);

}

.titulo-destacado{
    color:#22D4FD;
}

.presentacion_contenido_texto{
    font-size: 1.5rem;
    font-family:var(--fuente-montserrat);

}

.presentacion_enlaces{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    gap: 2.2rem;
}

.presentacion_enlace_subtitulos{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_link{
    width: 50%;
    text-align: center;
    padding: 2rem 0.5rem;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display:flex;
    justify-content: center;
    gap: 16px;
}

.presentacion_link:hover{
    background-color:#272727;
    cursor: pointer;
}

.presentacion_imagen{
    width: 50%;
}

.footer {
    background-color:var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family:var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){
    .header{
        padding:10%;
    }
    
    .header_menu{
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }

}